* {
    background-color: aqua;
    box-sizing: border-box;
}
main {
    display: flex;
    margin-top: 2%;
    width: 100%;
  }

nav{
    display: flex;
    justify-content: end;
    background-color: red;
    flex-grow:3;

  }
nav a {
    /* display: inline; */
    margin-right: 10px;
    text-align: right;
    
}

nav h1{
    color: black;
    font-size: 15px;
    /* margin-left: 70px; */
}

section #about-me{
  background-color: green;
  font-size: 50px;
}
